/* /body {
    text-align: center;
    color:#663f3f;
    margin: 0;
    overflow: hidden;
    background: white;
  }  */
  
  .react-calendar__navigation__label {
   
      }
  
   .react-calendar__navigation__arrow{

  }
   
   
   
   .react-calendar__navigation__next-button{
   
  }


.react-calendar__navigation__arrow {
 
  }

.react-calendar__viewContainer{

  }

  .react-calendar__month-view button{

  }


   .react-calendar__month-view react-calendar__month-view--weekNumbers{
    

    
  } 